main {
    background-color: grey;
    align-content: center;
    justify-items: center;
    width: auto;
    height: 1000px;
    border-color: aqua;
    border-width: 10px;
}

h1 {
    font-size: 80px;
    color: cadetblue;
}

img {
    width: 200px;
    height: 150px;
}